# .gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
*.pyo
*.egg-info/
dist/
build/
*.egg

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb

# Virtual Environment
venv/
ENV/
env/

# macOS
.DS_Store
